.main-tree-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  background-image: url(/assets/bg/1.jpg);
  background-size: cover;
  background-position: center;
  height: calc(100vh - 140px);
  min-height: 750px;
  width: 800px;
  padding-bottom: 20px;
  overflow: hidden;
  margin: 0 auto;
}

.main-tree {
  display: block;
  width: 500px;
  height: 714px;
}

.snow-container {
  height: calc(100vh - 150px);
  width: 800px;
  position: absolute;
  left: 50%;
  margin-left: -400px;
  pointer-events: none;
  z-index: 11;
  overflow: hidden;
}

i {
  display: inline-block;
  animation: snowflakes linear forwards;
  position: relative;
}

i:after,
i:before {
  height: 100%;
  width: 100%;
  content: '.';
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(120deg);
}

i:before {
  transform: rotate(240deg);
}

i,
i:after,
i:before {
  background: white;
  pointer-events: none;
}

@keyframes snowflakes {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg) scale(0.5);
  }
  100% {
    transform: translate3d(15px, 1200px, 0px) rotate(360deg) scale(0.5);
  }
}

.snow-container i:nth-child(3n) {
  width: 24px;
  height: 6px;
  animation-duration: 6s;
  animation-iteration-count: 45;
  transform-origin: right -30px;
}
