* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  outline: none;
}

ul {
  list-style: none;
}

.body {
  font-size: 16px;
  font-weight: 400;
  padding: 0;
  margin: 0;
  max-width: 100vw;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  color: #fff;
}

.header,
.footer {
  background-color: #121c1e;
}

.header-row,
.footer-row {
  max-width: 1600px;
  height: 70px;
  margin: 0 auto;
  padding: 0 20px;
}

.header-row,
.footer-row,
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-right: 30px;
  width: 48px;
  height: 60px;
  background-image: url('../assets/svg/tree.svg');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: 0.3s;
}

.logo:hover {
  filter: invert(58%) sepia(100%) saturate(329%) hue-rotate(141deg) brightness(89%) contrast(90%);
}

.nav-list {
  padding: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.nav-link {
  display: block;
  font-size: 20px;
  text-transform: uppercase;
  padding: 20px;
  transition: all 0.3s linear;
}

.nav-link:hover {
  color: #278d9f;
}

.header-controls,
.footer-info {
  display: flex;
  align-items: center;
}

.search {
  width: 380px;
  height: 40px;
  padding: 5px 25px;
  margin: 10px 0;
  margin-right: 30px;
  border-radius: 20px;
  border: 1px solid #278d9f;
  color: #fff;
  background-color: rgba(31, 112, 127, 0.3);
  background-image: url('../assets/svg/search.svg');
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 330px center;
  outline: 0;
}

.select-toys {
  width: 48px;
  height: 60px;
  background-image: url('../assets/svg/ball-2.svg');
  background-size: 48px 60px;
  background-position: left -8px;
  background-repeat: no-repeat;
  transition: 0.3s;
}

.select-toys span {
  display: inline-block;
  min-width: 40px;
  height: 40px;
  margin-top: 10px;
  margin-left: 4px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  background-color: #278d9f;
}

.main {
  display: flex;
  min-width: 100%;
  min-height: calc(100vh - 140px);
  background-image: url('../assets/bg.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.page {
  display: flex;
  justify-content: space-between;
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}


.page-start {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-tree {
  backdrop-filter: blur(6px);
  padding: 0 20px;
}

.page-start-title {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 600px;
  height: 250px;
  margin-bottom: 80px;
  color: #fff;
  font-weight: 400;
  text-align: center;
  border: 3px solid #278d9f;
  border-radius: 25px;
  background-color: rgba(31, 112, 127, 0.3);
  backdrop-filter: blur(6px);
  font-size: 48px;
  white-space: pre-line;
}

.start-button {
  position: relative;
  padding: 15px 120px;
  border: 3px solid #278d9f;
  border-radius: 30px;
  background-color: rgba(31, 112, 127, 0.3);
  backdrop-filter: blur(6px);
  font-weight: 300;
  font-size: 22px;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}

.start-button:hover {
  background-color: #278d9f;
}

.settings-container {
  display: flex;
  flex-direction: column;
  top: 40px;
  height: fit-content;
  width: 30%;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #278d9f;
  backdrop-filter: blur(6px);
  background-color: rgba(40, 94, 104, 0.6);
}

.controls-title {
  text-transform: uppercase;
  font-size: 18px;
}

.shape,
.color,
.size {
  display: flex;
  align-items: center;
}

.shape button {
  position: relative;
  width: 40px;
  height: 40px;
  margin: 10px 7px;
  border: 0;
  outline: 0;
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
  transition: 0.3s;
}

.shape button.active,
.size button.active {
  filter: invert(9%) sepia(63%) saturate(461%) hue-rotate(322deg) brightness(83%) contrast(88%);
}

.shape button:hover,
.size button:hover {
  filter: invert(30%);
}

.shape button:nth-child(1) {
  background-image: url('../assets/svg/ball.svg');
  margin-left: 20px;
}

.shape button:nth-child(2) {
  background-image: url('../assets/svg/bell.svg');
}

.shape button:nth-child(3) {
  background-image: url('../assets/svg/cone.svg');
}

.shape button:nth-child(4) {
  background-image: url('../assets/svg/snowflake.svg');
}

.shape button:nth-child(5) {
  background-image: url('../assets/svg/toy.svg');
  width: 50px;
}

.color button {
  position: relative;
  width: 30px;
  height: 30px;
  margin: 15px 10px;
  border: 1px solid #278d9f;
  border-radius: 5px;
  outline: 0;
  background-color: transparent;
  cursor: pointer;
  transition: 0.3s;
}

.color button:hover,
.favorite-input-label:hover {
  border: 2px solid #121c1e;
}

.color button.active::after {
  content: '';
  display: block;
  position: absolute;
  top: 5px;
  left: 9px;
  width: 6px;
  height: 10px;
  border: solid #fff;
  border-width: 0 4px 4px 0;
  transform: rotate(45deg);
}

.color button:nth-child(1) {
  background-color: #fff;
  margin-left: 20px;
}

.color button:nth-child(2) {
  background-color: #fdd700;
}

.color button:nth-child(3) {
  background-color: #fd0000;
}

.color button:nth-child(4) {
  background-color: #2199eb;
}

.color button:nth-child(5) {
  background-color: #08aa05;
}

.color button.active:nth-child(1)::after,
.color button.active:nth-child(2)::after,
.color button.active:nth-child(3)::after,
.color button.active:nth-child(4)::after,
.color button.active:nth-child(5)::after {
  border-color: #666;
}

.size button {
  position: relative;
  width: 50px;
  height: 50px;
  margin: 5px 5px;
  border: 0;
  outline: 0;
  background-image: url(../assets/svg/ball.svg);
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
  transition: 0.3s;
}

.size button:nth-child(2) {
  background-size: 40px 40px;
}

.size button:nth-child(3) {
  background-size: 30px 30px;
}

.favorite-container {
  display: flex;
  align-items: center;
  height: 60px;
  margin: 0;
}

.favorite-input {
  width: initial;
  height: initial;
  display: none;
}

.favorite-input-label {
  position: relative;
  display: flex;
  width: 30px;
  height: 30px;
  backdrop-filter: blur(6px);
  border: 1px solid #278d9f;
  border-radius: 5px;
  padding: 0;
  margin: 0;
  margin-left: 20px;
  cursor: pointer;
  transition: 0.5s;
}

.favorite-input-label:hover {
  background-color: #278d9f;
}

.favorite-input:checked + .favorite-input-label::after {
  content: '';
  display: block;
  position: absolute;
  top: 5px;
  left: 9px;
  width: 6px;
  height: 10px;
  border: solid #fff;
  border-width: 0 4px 4px 0;
  transform: rotate(45deg);
}

.year-slider-container,
.count-slider-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container-slider {
  position: relative;
  pointer-events: none;
  width: 100%;
}

.container-slider input[type='range'] {
  height: 5px;
  display: block;
  margin: 0;
  width: 100%;
  -webkit-appearance: none;
  border: none;
  border-radius: 3px;
  background: linear-gradient(to right, #fff 0%, #278d9f 0%, #278d9f 100%, #fff 100%);
}

.container-slider input[type='range']:last-child {
  margin-top: -5px;
}

input[type='range']::-webkit-slider-thumb {
  pointer-events: all;
  -webkit-appearance: none;
  border: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #fff;
}

output {
  margin: 10px 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 80px;
  height: 40px;
  backdrop-filter: blur(6px);
  border-radius: 20px;
  border: 1px solid #278d9f;
}

.reset-button {
  width: 200px;
  height: 40px;
  margin: 20px;
  border-radius: 20px;
  border: 1px solid #278d9f;
  background-color: rgba(31, 112, 127, 0.3);
  backdrop-filter: blur(6px);
  cursor: pointer;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  align-self: center;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: flex-start;
  width: 65%;
  margin: 0 auto;
}

.page-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  width: 100%;
  max-width: 1600px;
  height: calc(100vh - 140px);
  min-height: 750px;
  margin: 0 auto;
  padding: 0;
}

.menu-item {
  width: 80px;
  height: 80px;
  gap: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.audio-control {
  width: 40px;
  height: 40px;
  margin-right: 40px;
  background-image: url(../assets/svg/audio.svg);
}

.snow-control {
  width: 40px;
  height: 40px;
  background-image: url(../assets/svg/snow.svg);
}

.audio-control.active, 
.snow-control.active {
  filter: saturate(1.5) brightness(0.8);
}

.favorites-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  height: 100%;
  width: 400px;
  padding-top: 25px;
}

.menu-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  margin-bottom: 20px;
}

.main-tree-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-image: url(../assets/bg/1.jpg);
  background-size: cover;
  background-position: center;
  height: calc(100vh - 140px);
  min-height: 750px;
  width: 800px;
  padding-bottom: 20px;
  overflow: hidden;
}

.snow-container {
  height: calc(100vh - 50px);
  width: 800px;
  position: absolute;
  top: -150px;
  left: 50%;
  margin-left: -400px;
  pointer-events: none;
  z-index: 100;
  overflow: hidden;
}

.hide {
  display: none;
}

i {
  display: inline-block;
  animation: snowflakes linear forwards; 
  position: relative;
}

i:after, i:before {
  height: 100%;
  width: 100%;
  content: '.';
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(120deg);
}

i:before {
  transform: rotate(240deg);
}

i, 
i:after, 
i:before {
  background: white;
  pointer-events: none;
}

@keyframes snowflakes {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg) scale(0.6);
  }
  100% {
    transform: translate3d(15px, 1200px, 0px) rotate(360deg) scale(0.6);
  }
}

.snow-container i:nth-child(3n) {
  width: 24px;
  height: 6px;
  animation-duration: 6s;
  animation-iteration-count: 45;
  transform-origin: right -30px;
}

.snow-container i:nth-child(2n) {
  opacity: 0.4;
  animation-delay: 1s;
  animation-timing-function: ease-out;
}

.favorites-aside {
  height: calc(100vh - 140px);
  min-height: 750px;
  width: 400px;
}

.favorites-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  gap: 10px;
  width: 100%;
  padding-top: 25px;
  padding-left: 25px;
}

.favorites-container::before,
.bg-container::before,
.tree-container::before,
.garland-container::before {
  content: 'Игрушки';
  width: 100%;
  font-size: 20px;
  font-weight: 400;
  padding: 10px;
  padding-left: 0;
  text-transform: uppercase;
}

.tree-container::before {
  content: 'Выберите ёлку';
}

.bg-container::before {
  content: 'Выберите фон';
}

.garland-container::before {
  content: 'Гирлянда';
}

.favorites-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  max-width: 80px;
  min-height: 80px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
}

.favorites-count {
  z-index: 10;
  align-self: flex-end;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  padding: 0;
  margin: 0;
  margin-left: 60px;
  border-radius: 10px;
  background-color: #24c5db;
  font-size: 14px;
  font-weight: 900;
}

.favorites-card-img {
  display: block;
  position: absolute;
  width: auto;
  height: 60px;
  width: 60px;
  object-fit: contain;
  cursor: move;
}

.tree {
  width: 115px;
  height: 115px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  background-size: auto 110px;
}

.tree:nth-child(1) {
  background-image: url(../assets/tree/1.png);
}

.tree:nth-child(2) {
  background-image: url(../assets/tree/2.png);
}

.tree:nth-child(3) {
  background-image: url(../assets/tree/3.png);
}

.tree:nth-child(4) {
  background-image: url(../assets/tree/4.png);
}

.tree:nth-child(5) {
  background-image: url(../assets/tree/5.png);
}

.tree:nth-child(6) {
  background-image: url(../assets/tree/6.png);
}

.bg {
  width: 65px;
  height: 65px;
  border: 1px solid #cccc;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.bg:nth-child(1) {
  background-image: url(../assets/bg/1.jpg);
}

.bg:nth-child(2) {
  background-image: url(../assets/bg/2.jpg);
}

.bg:nth-child(3) {
  background-image: url(../assets/bg/3.jpg);
}

.bg:nth-child(4) {
  background-image: url(../assets/bg/4.jpg);
}

.bg:nth-child(5) {
  background-image: url(../assets/bg/5.jpg);
}

.bg:nth-child(6) {
  background-image: url(../assets/bg/6.jpg);
}

.bg:nth-child(7) {
  background-image: url(../assets/bg/7.jpg);
}

.bg:nth-child(8) {
  background-image: url(../assets/bg/8.jpg);
}

.bg:nth-child(9) {
  background-image: url(../assets/bg/9.jpg);
}

.bg:nth-child(10) {
  background-image: url(../assets/bg/10.jpg);
}

.copyright {
  padding-right: 20px;
}

.github-username {
  color: #fff;
  text-decoration: none;
  padding: 0 20px;
  transition: 0.3s;
}

.footer-logo {
  width: 160px;
  height: 60px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../assets/svg/rss.svg');
  transition: 0.3s;
}

@media (max-width: 1500px) {
  .cards-container {
    width: 60%;
  }
  .settings-container {
    width: 35%;
  }
}

@media (max-width: 1070px) {
  .cards-container {
    width: 50%;
  }
  .settings-container {
    width: 45%;
  }

  .search {
    width: 300px;
  }
}
