:root {
  --light: #ffffff;
  --gold: #9d8665;
  --dark: #030303;
  --dark-red: #710707;
  --gray: #666666
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
}

body, h1, h2, h3, h4, p {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  outline: none;
}

ul {
  list-style: none;
  margin: 0;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
}

.header {
  background-color: var(--dark);
 }

.header-row {
  display: flex;
  min-height: 150px;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-image {
  height: 30px;
  width: 50px;
}

.logo-title {
  padding-left: 25px;
  font-family: "Forum", cursive;
  font-size: 28px;
  font-weight: normal;
  line-height: 50px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: var(--light);
}

.nav {
  max-width: 775px;
  width: 100%;
}

.nav-list {
  padding: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  list-style: none;
}

.nav-link {
  display: block;
  font-weight: 100;
  font-size: 22px;
  font-style: thin;
  letter-spacing: 2px;
  color: var(--light);
  transition: all 0.3s linear;
}

.nav-link:hover {
  cursor: pointer;
  color: var(--gold);
}

.nav-link:active {
  color: var(--gold);
}

.section,
.footer {
  padding-top: 75px;
  padding-bottom: 75px;
}

.section-dark {
  background-color: var(--dark);
}

.section-light {
  background-color: var(--light);
}

.section-title {
  font-family: "Forum", cursive;
  font-style: Regular;
  font-size: 80px;
  font-weight: 400;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.section-title-light {
  color: var(--light);
}

.section-title-dark {
  color: var(--gold);
}

.underline-title {
  position: relative;
}

.underline-title::after {
  content: "";
  position: absolute;
  bottom: -26px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: var(--dark-red);
}

.section-subtitle {
  font-family: "Roboto", sans-serif;
  font-style: bold;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
}

.section-content{
  padding-top: 105px;
}

.section-text {
  font-family: "Roboto", sans-serif;
  font-style: light;
  font-size: 22px;
  font-weight: 300;
  line-height: 38.5px;
}

.section-text-light {
  color: var(--light);
}

.section-text-dark {
  color: var(--dark);
}

.welcome {
  position: relative;
  padding-top: 15px;
  min-height: 825px;
 }

.welcome-content {
  position: absolute;
  top: 20%;
  width: 100%;
  height: 100%;
  max-width: 600px;
  max-height: 390px;
  z-index: 3;
}

.welcome-text {
  padding: 25px 0 75px;
  font-style: light;
  font-size: 28px;
  font-weight: 300;
  line-height: 33px;
  letter-spacing: 2px;
  color: var(--light);
}

.welcome-btn {
  width: 360px;
  height: 75px;
  padding: 20px 30px;
  font-family: "Roboto", sans-serif;
  font-style: thin;
  font-weight: 100;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 2px;
  background-color: var(--dark-red);
  color: var(--light);
  border-radius: 10px;
  transition: all 0.3s linear;
}

.welcome-btn:hover {
  background-color: var(--gold);
  cursor: pointer;
}

.flex-wrapper {
  width: 100%;
  display: flex;
  justify-content:flex-end;
 }

 .slider-pic {
  max-width: 1000px;
  width: 100%;
  max-height: 750px;
  height: 100%;
  float: right;
  z-index: 2;
 }

 .slider-pic::after {
  top: 0;
  max-width: 1000px;
  width: 100%;
  height: 100%;
  position: absolute;
  content: "";
  background: linear-gradient( 90deg, var(--dark) 0%, rgba(3, 3, 3, 0.5) 16.19%, rgba(3, 3, 3, 0) 30.73%  );
 }

.slider-container {
  max-width: 1000px;
  width: 100%;
  max-height: 750px;
  height: 100%;
}

.slide {
  max-height: 750px;
  width: 100%;
  height: 100%;
  display: none;
}

.slide.active {
  display: block;
}

img {
  width: 100%;
  height: 100%;
}

.slider-controls {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  bottom: 0;
  width: 100%;
  height: 100%;
  max-width: 600px;
  max-height: 120px;
  background-color: var(--dark);
  color:  var(--light); 
  z-index: 4;
}

.slider-number{
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 40px;
  margin-left: 20px;
}

.carousel-pagination{
  display: flex;
  max-width: 180px;
}

.slide-pagination {
  width: 16px;
  height: 16px;
  background-color: var(--light); 
  margin-right: 25px;
  cursor: pointer;
}

.slide-pagination.active {
  background-color: #D2B183;
}

.slide-pagination:last-child {
  margin-right: 0;
}

.arrows{
  display: flex;
  justify-content: space-between;
  max-width: 100px;
}

.btn-prev, 
.btn-next {
  display: block;
  min-height: 8px;
  min-width: 30px;
  width: 100%;
  transition: all 0.4s linear;
}

.btn-prev{
  margin-right: 20px;
  background: url(./assets/svg/welcome-slider/arrow_left.svg) center no-repeat;
}

.btn-next{
  background: url(./assets/svg/welcome-slider/arrow_right.svg) center no-repeat;
}

.btn-prev:hover,
.btn-next:hover {
  opacity: 0.8;
}

.visiting {
  padding: 75px 0;
}

.visiting-flex-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1440px;
  gap: 77px 60px;
}

.visiting-item {
  flex: 1 1 (calc(100% / 3) - 120px);
}

.visiting-item-link {
  display: block;
}

.visiting-item-title {
  padding-top: 20px;
  font-family: "Forum", cursive;
  font-style: regular;
  font-weight: 400;
  font-size: 32px;
  line-height: 35.33px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: var(--dark);
}

.visiting-underline-title {
  position: relative;
}

.visiting-underline-title::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 300px;
  height: 2px;
  background-color: var(--dark-red);
  transition: all 0.3s linear;
}

.visiting-item:hover .visiting-underline-title::after {
  width: 100%;
}

.visiting-item-subtitle {
  padding-top: 22px;
  font-family: "Roboto", sans-serif;
  font-style: thin;
  font-size: 22px;
  font-weight: 200;
  line-height: 25.78px;
}

.visiting-item-info {
  padding-top: 10px;
  font-family: "Roboto", sans-serif;
  font-style: thin;
  font-size: 18px;
  font-weight: 200;
  line-height: 21.09px;
}

.tour iframe{
  margin: 0;  
  width: 100vw;
  height: 100vh;
}

.explore-flex-container {
  display: flex;
}

.explore-content {
  width: 100%;
  max-width: 660px;
}

.explore-content p {
  padding-bottom: 25px;
}

.yellow-veil {
  color: #caaa7d;
}

.explore-img {
  margin-left: 60px;
  margin-top: 15px;
  max-height: 700px;
  max-width: 720px;
  width: 100%;
  height: 100%;
}

.video-flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.video-text{
  margin-left: 115px;
}

.video{
  display: block;
}

.player{
  margin-top: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-video{
  position: relative;

}

.player-play-btn{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 220px;
  height: 220px;
  z-index: 1;
  background: url(./assets/svg/big-play.svg) center no-repeat;
}

.player-controls {
  display: flex;
  background-color: var(--dark);
  height: 85px;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  justify-content: space-between;
  align-items: center;
}

.player-video-action{
  width: 23px;
  height: 31px;
  background: url(./assets/svg/forward-arrow.svg) center no-repeat;
}

.progress {
  background: linear-gradient(to right, var(--dark-red), 0%,  var(--dark-red), 50%, #C4C4C4 50%, #C4C4C4 100%);
  border-radius: 0;
  -webkit-appearance: none;
  height: 8px;
} 

.progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: var(--light);
  cursor: pointer;
}

.player-video-progress{
  max-width: 930px;
  width: 100%;
}

.player-volume-control{
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 213px;
  width: 100%;
}

.player-volume{
  width: 38px;
  height: 31px;
  background: url(./assets/svg/volume.svg) center no-repeat;
}

.player-video-volume{
  max-width: 155px;
  width: 100%;
}

.player-fullscreen{
  width: 35px;
  height: 35px;
  background: url(./assets/svg/fullscreen.svg) center no-repeat;
}

.video-slider{
  margin: 40px 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.video-slider iframe{
  display: block;
 }

.video-slider-pagination{
  display: flex;
  max-width: 200px;
  max-height: 12px;
  align-items: center;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #999999; 
  margin-right: 20px;
  cursor: pointer;
}

.dot.active {
  background-color: #333333; 
}

.dot:last-child {
  margin-right: 0;
}

.back,
.next {
  height: 12px;
  width: 10px;
  transition: all 0.4s linear;
  cursor: pointer;
}

.back:hover,
.next:hover {
  opacity: 0.5;
}

.next {
  background: url(./assets/svg/next.svg) center no-repeat;
}

.back {
  margin-right: 20px;
  background: url(./assets/svg/back.svg) center no-repeat;
}

.gallery {
  padding-bottom: 0;
}

.picture-container {
  position: relative;
  overflow-y: hidden;
  max-height: 1958px;
  height: 100%;
  margin-top: 75px;
}

.picture-gradient {
  position: absolute;
  max-height: 1958px;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, var(--dark) 0%, rgba(3, 3, 3, 0.5) 16.19%, rgba(3, 3, 3, 0) 30.73%);
  bottom: 0;
  z-index: 2;
 }


.picture-inner-container {
  display: flex;
  max-height: 3000px;
  flex-flow: column wrap;
  gap: 1.5rem 2.25rem;

}

.gallery-img {
  display: block;
  max-width: 456px;
  height: auto;
}

.gallery-img:first-child {
  padding-top: 50px;
}

.gallery-img:nth-child(11) {
 padding-top: 50px;
}

.tickets-flex-container{
  display: flex;
}

.tickets-img {
  max-height: 550px;
  max-width: 720px;
}

.tickets-wrapper {
  display: flex;
  justify-content: space-between;
}

.tickets-type-wrapper {
  margin-left: 60px;
  min-width: 270px;
}

.tickets-types {
 padding-top: 1.75rem;
}

.tickets-radio {
  position: relative;
  margin-top: 1.5rem;
  transition: all 0.3s linear;
}

.tickets-radio label:hover {
  cursor: pointer;
}

.tickets-radio input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}

label {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 22px;
  font-weight: 300;
  line-height: 26px;
  cursor: pointer;
  color: var(--dark);
}

label::before {
  display: block;
  position: absolute;
  top: 0;
  left: -40px;
  content: "";
  width: 17px;
  height: 17px;
  border: 2px solid var(--dark);
  box-sizing: border-box;
  border-radius: 50%;
}

input:checked + label::after {
  display: block;
  position: absolute;
  content: "";
  top: 5px;
  left: -35px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: var(--dark);
}

.tickets-amount-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-left: 240px;
}

.section-amount-subtitle {
  margin-bottom: 1rem;
  text-align: right;
  color: var(--dark);
}

.age {
  line-height: 26px;
  color: var(--dark);
  padding: 10px 0 15px;
}

.button-amount-wrapper {
  border: 3px solid  var(--dark);
  display: flex;
  width: 150px;
  height: 50px;
 }

.button-amount {
  background: transparent;
  font-family: "Roboto", sans-serif;
  font-style: regular;
  font-size: 32px;
  font-weight: 300;
  line-height: 38px;
  color: var(--dark);
  text-align: center;
  transition: all 0.3s linear;
}

.input-amount {
  font-family: "Roboto", sans-serif;
  font-style: light;
  background: transparent;
  padding-left: 2px;
  font-size: 22px;
  font-weight: 500;
  line-height: 26px;
  border: none;
  color: var(--dark);
  text-align: center;
}

.section-amount-total-subtitle {
  padding-top: 3rem;
  letter-spacing: 1.65px;
  color: var(--dark);
}

.tickets-buy-btn {
  position: absolute;
  right: 0;
  bottom: 110px;
  width: 175px;
  height: 50px;
  font-family: "Roboto", sans-serif;
  font-style: light;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 2px;
  background-color:var(--dark) ;
  color: var(--light);
  transition: all 0.3s linear;
  text-align: center;
}

.tickets-buy-btn:hover {
  background-color: var(--gold);
  cursor: pointer;
}

.parallax{
  height: 400px;
  width: 100%;
  background-image: url(./assets/img/parallax.jpg);
  background-attachment: fixed;
  background-size: cover;
}

.contacts{
  padding-bottom: 60px;
}

.contacts-content {
  padding-top: 103px;
  display: flex;
  gap: 198px;
}

.contacts-info p,
.contacts-info a {
  padding-bottom: 13px;
}

.contacts-info a {
  display: block;
}

.contacts-subtitle {
  font-style: medium;
  font-weight: 500;
  padding-bottom: 45px;
}

.contacts-map {
  max-height: 620px;
  max-width: 960px;
}

.footer-flex-container { 
  position: relative;
  display: flex;
  justify-content: space-between;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  max-width: 706px;
  width: 100%;
}

.footer-logo{
  display: flex;
  align-items: center;
  align-self: start;
}

.footer-nav {
  max-width: 363px;
  width: 100%;
}

.footer-nav-list {
  height: 128px;
  display: grid;
  grid-template: 1fr 1fr 1fr/ 107px 107px;
  justify-content: space-between;
  color: var(--gray);
}

.footer-social {
  width: 100%;
  max-width: 336px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.footer-social-list {
  display: flex;
  justify-content: space-between;
}

.footer-social-item  {
  position: relative;
  display: block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px solid var(--gray);
  transition: all 0.4s linear;
}

.footer-social-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 24px;
  height: 24px;
}
  
.footer-social-icon {
  fill: var(--light);
}

.footer-social-item:hover {
  border: 1px solid var(--gold);
}

.footer-social-item:hover .footer-social-icon {
  fill: var(--gold);
}

.footer-info{
  padding-top: 50px;
}

.footer-text {
 color: var(--gray);
}

.footer-line {
  padding-top: 50px;
  width: 100%;
  border-bottom: 3px solid var(--gray);
}


