:root {
  --dark-red: #660033;
  --font1: 36px;
  --font2: 18px;
  --margin: 75px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
 
body {
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  font-size:  var(--font1);
  font-weight: 300;
  line-height: 44px;
  color: var(--dark-red);
  background-color: #dddddd;
  background-size: cover;
  margin: 0;
}

.main-container {
  margin: 0 auto;
  max-width: 1440px;
  max-width: 1024px;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

header {
  text-align: center;
 }

h1 {
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
} 

 .logo {
   margin: 20px 0 10px 0;
   display: flex;
   justify-content: center;
}

.logo-image {
  height: 140px;
  width: 220px;
  display: block;
}

.header-title {
 height: 75px;
}

.quiz-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item-quiz {
  display: flex;
  flex-direction: column;
  position: relative;
  transition: box-shadow 1s ease;
  width: 415px;
 }

 .item-quiz:hover,
 .btn-settings:hover {
   box-shadow:0 0 15px 5px rgba(0, 0, 0, 0.3) ;
 }

.page {
  margin: 0;
  box-sizing: border-box;
}

.main-page {
  display: flex;
  flex-direction: column;
}

.btn-page {
  width: 415px;
  height: 415px;

}

.btn-page-artists {
  background: url("images/artists-quiz.png") center no-repeat;
}

.btn-page-pictures {
  background: url("images/pictures-quiz.png") center no-repeat;
}

.btn-page-title {
  margin: 15px 10px 10px 0;
  text-align: right;
  text-transform: uppercase;
  align-self: flex-end;
  font-size: var(--font1);
  font-weight: 300;
}

.title-bold {
  font-weight: 700;
}

.page +.hide{
  display: none;
}

.btn-settings {
  margin: var(--margin) 0 20px 0;
  position: relative;
  width: 150px;
  height: 50px;
  padding: 14px 7px 14px 53px;
  font-family: "Montserrat", sans-serif;
  font-size: var(--font2);
  text-transform: uppercase;
  text-align: right;
  background-color:  var(--dark-red);
  color: #ffffff;
  align-self: center;
  border: 0;
  transition: all 1s ease;
}

.btn-settings:before {
  background-image: url("images/Settings.svg");
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  display: block;
  height: 45px;
  width: 45px;
  left: 3px;
  position: absolute;
  top: 3px;
  transition: all 1s ease;
}



