:root {
  --dark-red: #660033;
  --light: #ffffff;
  --font1: 36px;
  --font2: 18px;
  --margin: 75px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
 
body {
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  font-size:  var(--font1);
  font-weight: 300;
  line-height: 44px;
  color: var(--dark-red);
  background-color: #dddddd;
  background-size: cover;
  margin: 0;
}

.main-container {
  margin: 0 auto;
  max-width: 1440px;
  max-width: 1024px;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

header {
  text-align: center;
 }

h1 {
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
} 

h2 {
  font-size: var(--font1);
  font-weight: 300;
  text-transform: uppercase;  
}

p {
  margin: 0;

}

 .logo {
   margin: 20px 0 10px 0;
   display: flex;
   justify-content: center;
}

.logo-image {
  height: 140px;
  width: 220px;
  display: block;
}

.header-title {
 height: 75px;
 
}

.page-flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.navigation,
.settings {
  display: flex;
  flex-direction: column;
  position: relative;
  transition: all 1s ease;
  width: 415px;
 }

 .navigation:hover,
 .btn:hover {
   box-shadow:0 0 15px 5px rgba(0, 0, 0, 0.3) ;
 }

.page {
  margin: 0;
  box-sizing: border-box;
}

.main-page {
  display: flex;
  flex-direction: column;
}

.navigation-img {
  width: 415px;
  height: 415px;
}

.navigation-img-artists {
  background: url("images/artists-quiz.png") center no-repeat;
}

.navigation-img-pictures {
  background: url("images/pictures-quiz.png") center no-repeat;
}

.navigation-title {
  margin: 15px 10px 10px 0;
  align-self: flex-end;
}

.title-bold {
  font-weight: 700;
}

.hide-page {
  display: none;
}

.btn {
  display: block;
  margin: var(--margin) 0 20px 0;
  height: 50px;
  width: 150px;
  background-color:  var(--dark-red);
  color: var(--light);
  font-size: var(--font2);
  text-transform: uppercase;
  border: 0;
  transition: all 1s ease;
}

.btn-settings {
  position: relative;
  padding: 14px 7px 14px 53px;
  font-family: "Montserrat", sans-serif;
  text-align: right;
  align-self: center; 
}

.btn-settings:before {
  position: absolute;
  display: block;
  content: "";
  height: 45px;
  width: 45px;
  left: 3px;
  top: 3px;
  background-image: url("images/Settings.svg");
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 1s ease;
}

.settings {
  padding: 20px;
  align-items: center;
  background-color: var(--light);
  justify-content: space-between;
}

.settings-img {
  width: 100px;
  height: 100px;
  background-size: contain;
  margin: 20px;
}

.settings-img-volume,
.volume-icon {
  background: url("images/volume-on.svg") center no-repeat;
  
}

.volume-wrapper,
.timer--wrapper {
  display: flex;
  align-items: center;
}

.timer--wrapper {
  flex-direction: column;
}

.volume-icon {
  background: url("images/volume-on.svg") center no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.volume-off {
  background-image: url("images/volume-off.svg");
}

.settings-img-timer {
  background: url("images/timer-picture.svg") center no-repeat;
}

.checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.checkbox:checked+.label {
  background-image: url("images/check.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

label {
  border: 1px solid var(--dark-red);
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  height: 30px;
  width: 30px;
  transition: all 1s ease;
}

.label:hover {
  box-shadow: -1px 1px 9px 3px rgba(0, 0, 0, 0.25);
}


.text {
  font-size: var(--font2);
  text-transform: uppercase;
}


.btn-container {
  justify-content: center;
}

.btn-save {
  margin-right: 50px;
  align-self: center; 
}

