:root {
  --dark-red: #660033;
  --light: #ffffff;
  --font1: 36px;
  --font2: 18px;
  --font3: 14px;
  --margin: 75px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
 
body {
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  font-size:  var(--font1);
  font-weight: 300;
  line-height: 44px;
  color: var(--dark-red);
  background-color: #dddddd;
  background-size: cover;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
 

.main-container {
  margin: 0 auto;
  position: relative;
  max-width: 1440px;
  height: 1024px;
  overflow: hidden;
  width: 100%;
}

header {
  text-align: center;
 }

h1 {
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
} 

h2,
.page-title {
  font-size: var(--font1);
  font-weight: 300;
  text-transform: uppercase;  
}

p {
  margin: 0;
}

.logo {
  margin: 20px 0 10px 0;
  display: flex;
  justify-content: center;
}

.logo-image {
  height: 140px;
  width: 220px;
  display: block;
}

.page-flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.navigation,
.settings {
  display: flex;
  flex-direction: column;
  position: relative;
  transition: all 1s ease;
  width: 415px;
 }

.navigation:hover,
.btn:hover,
.category-item:hover {
  box-shadow:0 0 15px 7px rgba(0, 0, 0, 0.3) ;
  cursor: pointer;
 }

.page {
  margin: 20px;
  box-sizing: border-box;
}

.page-title {
  text-align: center;
  margin: 20px 0 10px 0;
  line-height: 44px;
}

.main-page {
  display: flex;
  flex-direction: column;
}

.navigation-img {
  width: 415px;
  height: 415px;
}

.navigation-img-artists {
  background: url("images/artists-quiz.png") center no-repeat;
}

.navigation-img-pictures {
  background: url("images/pictures-quiz.png") center no-repeat;
}

.navigation-title {
  margin: 15px 10px 10px 0;
  align-self: flex-end;
}

.title-bold {
  font-weight: 700;
}

.hide-page {
  display: none;
}

.btn {
  display: block;
  margin: var(--margin) 0 20px 0;
  height: 50px;
  width: 150px;
  background-color:  var(--dark-red);
  color: var(--light);
  font-size: var(--font2);
  text-transform: uppercase;
  border: 0;
  transition: all 1s ease;
}

.btn-settings,
.btn-home,
.btn-score {
  position: relative;
  padding: 14px 7px 14px 53px;
  text-align: right;
  align-self: center; 
}

.btn-home,
.btn-score,
.btn-next,
.btn-category {
  margin: 20px 0;
}

.btn-settings:before,
.btn-home:before,
.btn-score:before,
.btn-category::before {
  position: absolute;
  display: block;
  content: "";
  height: 45px;
  width: 48px;
  left: 3px;
  top: 3px;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 1s ease;
}

.btn-settings:before {
  background-image: url("images/Settings.svg");
}

.btn-settings:hover:before {
  transform:rotate(180deg)
}

.btn-home:before {
  background-image: url("images/home.svg");
}

.btn-score:before {
  background-image: url("images/score.svg");
}

.btn-category::before {
  background-image: url("images/category.svg");
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 1440px;
  width: 100%;
  height: 100%;
  z-index: 10;
  overflow-x: hidden;
  transition: all 1s linear;
}

.modal.show {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

.modal.hide {
  opacity: 0;
  visibility: hidden;
  transform: translateX(-100%);
}

.settings {
  padding: 20px;
  align-items: center;
  background-color: var(--light);
  justify-content: space-between;
}

.settings-img {
  width: 100px;
  height: 100px;
  background-size: contain;
  margin: 20px;
}

.settings-img-volume,
.volume-icon {
  background: url("images/volume-on.svg") center no-repeat;
}

.volume-wrapper,
.timer--wrapper {
  display: flex;
  align-items: center;
}

.progress {
  background: linear-gradient(to right, var(--dark-red), 0%,  var(--dark-red), 50%, #C4C4C4 50%, #C4C4C4 100%);
  border-radius: 0;
  -webkit-appearance: none;
  height: 5px;
} 

.progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid var(--light)  ;
  background: var(--dark-red);
  cursor: pointer;
}

.timer--wrapper {
  flex-direction: column;
}

.volume-icon {
  background: url("images/volume-on.svg") center no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.volume-off {
  background-image: url("images/volume-off.svg");
}

.settings-img-timer {
  background: url("images/timer-picture.svg") center no-repeat;
}

.checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.checkbox:checked+.label {
  background-image: url("images/check.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

label {
  border: 1px solid var(--dark-red);
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  height: 30px;
  width: 30px;
  transition: all 1s ease;
}

.label:hover {
  box-shadow: -1px 1px 9px 3px rgba(0, 0, 0, 0.25);
}

.text {
  font-size: var(--font2);
  text-transform: uppercase;
}

.btn-container {
  justify-content: center;
}

.btn-save {
  margin-right: 50px;
  align-self: center; 
}

.categories-container{
  gap: 1rem 1rem;
  margin: 0 auto;
}

.category-item {
  width: calc(100% / 6);
  height: auto;
  background-color: var(--light);
  transition: all 1s ease;
}

.category-img{
  width: 100%;
  height: auto;
}

.category-img-active{
  filter: grayscale(100%);
}

.category-number,
.category-title { 
  margin: 0;
}

.category-number {
  padding: 20px 10px 10px 10px;
  font-size: 72px;
  font-weight: 700;
}

.category-title {
  padding-left: 10px;
  font-size: var(--font3);
  text-transform: uppercase;
}

.page-pictures-container {
  max-width: 800px;
  margin: 0 auto;
}

.answers-list {
  display: grid;
  gap: 10px;
  justify-content:space-between;
  align-items: stretch;
  grid-template-columns : 1fr 1fr;
}

.answer-item {
  border: 2px solid var(--dark-red);
  border-radius: 25px;
  font-size: var(--font2);
  text-align: center;

}

.answer-item:hover {
  cursor: pointer;
}

.answer-correct{
  background-color: green;
}

.answer-wrong{
  background-color: red;
}

.page-question-picture {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 20px 0;
}

.page-question-picture-img {
  display: block;

}

.answers-pictures {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 650px;
  justify-content: space-between;
  position: relative;
  width: 80%;
}

.answer-picture-item {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  cursor: pointer;
  height: 300px;
  transition: box-shadow .5s ease;
  width: 49%;
}

.answers-tracker {
  position: absolute;
  display: flex;
  bottom: 10px;
  height: 20px;
  justify-content: space-around;
  left: 25%;
  width: 50%;
  z-index: 11;
}

.answers-tracker-item {
  border: 1px solid #000;
  border-radius: 50%;
  height: 10px;
  width: 10px;
}

.answers-tracker-item.correct {
  background-color: green;
}

.answers-tracker-item.wrong {
  background-color: red;
}

.popup {
  margin: 0 auto;
  width: calc(100% - 40px);
}

.overlay {
  background-color: #000000;
  display: block;
  height: 100vh;
  left: -200vw;
  opacity: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 14;
}

.overlay-show {
  left: 0;
  opacity: 0.5;
}

.popup-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--light);
  border-radius: 10px;
  box-sizing: border-box;
  left: -200vw;
  max-height: 810px;
  padding: 20px 0;
  position: fixed;
  top: 3%;
  transition: left 1s ease-out;
  width: 100px;
  z-index: 15;
}

.popup-content-show {
  left: calc(50% - 405px);
  transition: left 1s ease-out;
  width: 810px;
}

.popup-answer-icon {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60px;
  margin-bottom: 20px;
  width: 60px;
}

.popup-answer-correct {
  background-image: url('./images/answer-correct.png');
}

.popup-answer-wrong {
  background-image: url('./images/answer-wrong.png');
}

.popup-picture {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  box-shadow: 5px 5px 15px rgb(0 0 0 / 78%);
  height: 400px;
  width: 400px;
}

.popup-title {
  padding: 0 20px;
  text-align: center;
  font-size: var(--font2);
}

.popup-text {
  font-size: var(--font3);
  text-align: center;
  text-transform: uppercase;
}